<%- include('header') %>

<div class="container">
    <h1><%= title %></h1>
    <a href="/profile">Profile</a>
</div>

<% accounts.savings.forEach(function(account){ %>
    <%- include('summary', {account: account}); %>
<% }); %>

<% accounts.checking.forEach(function(account){ %>
    <%- include('summary', {account: account}); %>
<% }); %>

<% accounts.credit.forEach(function(account){ %>
    <%- include('summary', {account: account}); %>
<% }); %>

br
<a href="/transfer">Transfer</a>

<%- include('footer') %>